html, body {
  background-color: #E7ECF2;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: 0;
}

.container_content {
  padding: 0 20px 0 20px;
}