html, body {
  background-color: #E7ECF2;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0 !important;
  padding: 0 !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

p {
  margin: 0;
}

.app {
  margin: 0 !important;
  max-height: 100%;
  padding: 0 !important;
}

.container {
  min-height: 100%;
  position: relative;
}

.full_container {
  min-height: 100%;
  position: relative;
}

.container_footer {
  background-color: white;
  box-shadow: 0 -5px 4px #E2E4EA;
  bottom: 0;
  color: #909090;
  display: inline-block;
  font-size: 12px;
  height: auto;
  letter-spacing: 0.9px;
  line-height: 18px;
  margin: 20px 0 0 0;
  padding: 15px 0 15px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.container_footer a {
  color: #34569B;
  text-decoration: none;
}

.container_footer b {
  color: #34569B;
}

.form_container {
  background-color: white;
  margin: 0 auto 0 auto;
  padding: 15px 15px 10px 15px;
  width: 660px;
}

.form_container b {
  color: #34569B;
}

#new_post {
  margin: 10px 0 10px 0;
  width: 100%;
}